/*mutual part*/


/*html {
	margin: 0;
}*/
body {
	margin: 0;
}
.nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	margin-right: 10px;
	height: 70px;
	background-color: #312F35;
	color: #DFE6E9;
	font-family: 'Roboto', sans-serif;
}

#myLogo {
	width: 35px;
	cursor: pointer;
}

#myLogo:hover {
	width: 40px;
}

.navTab {
	flex: 0 0 150px;
	cursor: pointer;
}
.navTab:hover {
	font-size: 20px;
}
.navDiv {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #312F35;
	z-index: 3;
}
#navResume {
	height: 30px;
	width: 90%;
	background-color: #312F35;
	color: #F60853;
	border: 2px solid #F60853; 
	border-radius: 6px;
	font-family: 'Roboto',sans-serif;
	font-size: 12px;
	font-weight: lighter;
}

.line {
	height: 4px;
	width: 200px;
	border-radius: 1px;
	background-color: #F60853;
	margin: 4px 0 0px 0;
}

#myName {
	margin: 3px;
	padding:0;
	line-height: 100%;
	font-size: 64px;
	font-family: 'Oxygen', sans-serif;
	color: #F60853;
	padding: auto;
}
#hello {
	font-size: 20px;
	color: #F60853;
	margin: 3px;
	font-family: 'Roboto',sans-serif;
}

.homeContentContainer {
	background-color: #312F35;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

}
.pGroup {
	margin-top: 10px;
	margin-bottom: 20px;
}
.homeContent {
	position: relative;
	text-align: center;
	width: 50%;
	z-index: 2;
}

.homeContent > div {
	margin-left: auto;
	margin-right: auto;
}
.homeContent.line {
	margin-top: 4px;
	margin-bottom: 4px;
}

.pTitle {
	color: #DFE6E9;
	margin: 3px;
}

.homeContent > button > a {
	text-decoration: none;
	color: #F60853;
	font-size: 16px;
	font-weight: bolder;
}
.homeContent > button {
	height: 40px;
	width: 150px;
	background-color: #312F35;
	color: #F60853;
	border: 2px solid #F60853; 
	border-radius: 6px;	
	margin: 10px 15px;
}
.homeContent > button:hover {
	background-color: #F60853;	
}

.homeContent > button > a:hover {
	color: #DFE6E9;
}




.titleDeco2 {
	border-color: 
}
 
iframe {
	width: 700px;
	height: 700px;
	border: none;
	display: inline;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 1;
	margin: 0;
}
.notation {
	font-size: 10px;
	z-index:2;
	position: absolute;
	bottom: 5px;
	text-align: center;
	color: rgba(223,230,233,0.5);
}
.titleScreen {
	margin: 0;
}
.pTitle {
	font-family:'Roboto',sans-serif;
}
.contactGroup {
	position: absolute;
	bottom: 150px;
	left: -50px;
	z-index: 3;
	/*display: flex;*/
	/*height: 135px;
	width: 135px;*/
	/*align-items: center;
	justify-content: center;*/
}
.contactIndiv {
	font-size: 20px;
	color: #F60853;
	background-color:white;
	height: 45px;
	width: 45px;
}
.contactIndiv > a > img {
	width: 45px;
}