

.title2 > h1 {
	color: #F60853;
	text-align: center;
	font-family: 'Oxygen', sans-serif;
	font-size: 40px;
	font-weight: bold;
}

#secondScreen {
	background-color: #312F35;
	margin: 0;
	padding: 0;
}

#secondScreen > h1 {
	margin: 0;
	color: #F60853;
	text-align: center;
	width: 70%;
}

#secondScreen img {
	width: 100%;
	padding: 0;
	margin: 0;
}

.titleDeco2 {
	width: 50px;
	height: 4px;
	margin: 15px;
	background-color: #F60853;
}
.title2 {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 60px;
}

.displayWorks {
	width: 95%;
	margin: 0 auto;
	/*height: 1376px;*/
}
.imgCover {
	width: 100%;
	margin: 0;
	padding:0;
	font-size: 0px;
}
.leftCol {
	float: left;
	width: 50%;
}
.dw {
	padding: 0;
	margin: 0;
}
.rightCol {
	float: right;
	width: 50%;
}

.displayWorks :after {
	clear:both;
	content:'.';
	display:block;
	width: 0;
	height: 0;
	visibility:hidden;
}

.clear {
	clear:both; 
	height: 0; 
	line-height: 0;
	font-size: 0;
}