


.title2 > h1 {
	color: #F60853;
	text-align: center;
	font-family: 'Oxygen', sans-serif;
	font-size: 40px;
	font-weight: bold;
}

#secondScreen {
	background-color: #312F35;
	margin: 0;
	padding: 0;
}

#secondScreen > h1 {
	margin: 0;
	color: #F60853;
	text-align: center;
	width: 70%;
}

#secondScreen img {
	width: 100%;
	padding: 0;
	margin: 0;
}

.titleDeco2 {
	width: 50px;
	height: 4px;
	margin: 15px;
	background-color: #F60853;
}
.title2 {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 60px;
}

.displayWorks {
	width: 95%;
	margin: 0 auto;
	display: grid;
	justify-content: center;
	grid-gap: 60px;
	grid-template-columns: minmax(300px,500px) minmax(300px,500px);
	grid-template-rows: auto auto auto;
	/*height: 1376px;*/
}
.imgCover {
	width: 100%;
	margin: 0;
	padding:0;
	position: relative;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

.mask {
	position: absolute;
	bottom: 0;
	height: 40%;
	width: 100%;
	background-color: rgba(246,8,83,0.6);
}

.hidewhenContract {
	font-size: 12px;
	width: 70%;
	word-wrap: break-word;
	color: #DFE6E9;
	font-family: 'Roboto',sans-serif;
	margin: 20px;
	text-align: left;
}

.dw {
	padding: 0;
	margin: 0px;
	font-size: 0px;
	cursor: pointer;
}



.clear {
	clear:both; 
	height: 0; 
	line-height: 0;
	font-size: 0;
}

.coverWords  {
	font-size: 12px;
	width: 100%;
	word-wrap: break-word;
	color: #DFE6E9;
	/*bottom: 80px;*/
	font-family: 'Roboto',sans-serif;
}

.coverWords h2 {
	width: 90%;
	line-height: 1.2em;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	margin: 10px auto;
	text-align: center;
	padding: 0 5px;
	/*border-left: 4px solid #F60853;*/
}
/*.coverArrow {
	position: absolute;
	bottom: 8%;
	right: 5%;
	font-size: 24px;
	color: #F60853;
	cursor: pointer;
}*/
/*.coverArrow i {
	text-shadow: 2px 2px 8px rgba(100,100,100,20);
}
.coverArrow i:hover {
	font-size: 30px;

}*/
.skills {
	text-align: center;
	margin: 10px 0;
	padding: 0;
}
.skills li {
	font-size: 10px;
	line-height: 24px;
	display: inline;
	text-align: center;
	border-radius: 2px;
	border: 1px solid #DFE6E9;
	background-color: rgba(0,0,0,0);
	padding: 2px 5px;
	font-family: 'Quicksand',sans-serif;
	color: #DFE6E9;
}

@media (max-width: 600px) {
  .displayWorks {
	width: 80%;
	margin: 0 auto;
	display: grid;
	justify-content: center;
	grid-gap: 60px;
	grid-template-columns: minmax(500px,550px);
}
}