

.title2 > h1 {
	color: #F60853;
	text-align: center;
	font-family: 'Oxygen', sans-serif;
	font-size: 40px;
	font-weight: bold;
}

#secondScreen {
	background-color: #312F35;
	margin: 0;
	padding: 0;
}

#secondScreen > h1 {
	margin: 0;
	color: #F60853;
	text-align: center;
	width: 70%;
}

#secondScreen img {
	width: 100%;
	padding: 0;
	margin: 0;
}

.titleDeco2 {
	width: 50px;
	height: 4px;
	margin: 15px;
	background-color: #F60853;
}
.title2 {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 60px;
}

.displayWorks {
	width: 95%;
	margin: 0 auto;
	/*height: 1376px;*/
}
.imgCover {
	width: 100%;
	margin: 0;
	padding:0;
	position: relative;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.leftCol {
	float: left;
	width: 50%;
	font-size: 0px;
}
.dw {
	padding: 0;
	margin: 10px;
	font-size: 0px;
	cursor: pointer;
}
.rightCol {
	float: right;
	width: 50%;
}

.displayWorks :after {
	clear:both;
	content:'.';
	display:block;
	width: 0;
	height: 0;
	visibility:hidden;
}

.clear {
	clear:both; 
	height: 0; 
	line-height: 0;
	font-size: 0;
}

.coverWords  {
	font-size: 12px;
	width: 100%;
	word-wrap: break-word;
	color: #312F35;
	position: absolute;
	bottom: 80px;
	font-family: 'Roboto',sans-serif;
}

.coverWords h2 {
	width: 80%;
	line-height: 1.5em;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	margin: 0 40px;
	text-align: left;
	padding: 6px 0;
	padding-left: 9px;
	border-left: 4px solid #F60853;
}
.coverArrow {
	position: absolute;
	bottom: 8%;
	right: 5%;
	font-size: 24px;
	color: #F60853;
	cursor: pointer;
}
.coverArrow i {
	text-shadow: 2px 2px 8px rgba(100,100,100,20);
}
.coverArrow i:hover {
	font-size: 30px;

}